
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
package-lock.json
package.json
playwright.config.ts
tests/example.spec.ts
tests-examples/demo-todo-app.spec.ts
